




<div class="row text-center"> 
    <h2 class="jumbotron"> 네이버 Trending Chat </h2>
</div>

<div class="row">


    <button class="col-sm-1 btn btn-default"> <%= link_to 'Home', root_path %> </button>

    <% if logged_in? %>

            <div class="col-sm-10"> 
                <span class="text-right"> &nbsp; Hello, <strong> <%= current_user.name %> </strong> | </spa>
                <%= link_to 'Logout', logout_path %>
            </div>

    <% else %>


            <div class="col-sm-3 col-sm-offset-7">
                <%= form_for(:session, url: sessions_path) do |f| %>
                        <div class="input-group">
                            <%= f.text_field :name, class: 'form-control' %>
                            <span class="input-group-btn">
                                <%= f.submit "Log in", class: "btn btn-default" %>
                            </span>
                        </div>
                <% end %>
             </div>


                <div class="col-sm-1 border">
                    <button class="btn btn-default"> <%= link_to 'Sign up', new_user_path %> </button>
                </div>
                

            
    <% end %>

</div>